*{
    box-sizing              : border-box;
    margin                  : 0;
    padding                 : 0;
    font-family: 'Bebas Neue', cursive;
    
}
body{
    margin                  : 1rem;
    padding                 : 1rem;
    background-color        :#0d95ca;
    margin                  : 1rem;
    padding                 : 1rem;
}

.header{

background-color            : #bdd3b6;
    margin                  : 1rem;
    padding                 : 1rem;
    text-align              : center;
    border-radius           : 10px;

}
.header:hover {
    background-color        : #400428;
      color                   : white;
}
.main{
   background              : #0d95ca;
    margin                  : 1rem;
    padding                 : 1rem;
    border-radius           : 10px;
}

.info{
 background-color           : #03453d;
 border-radius              : 10px 10px 0 0;
}

.main-header{
   
    color                   : white;
    text-align              : center;
    display                 : grid;
    grid-template-areas     : 
    "hbox hbox hbox";
    visibility: visible;
}
.hidden{
     visibility: hidden;
}
.hbox{
    border                  : 1px solid white;
    
}
.main-box{
    display                 : grid;
    grid-template-columns   : repeat(3, 1fr);
    justify-content         : center;
}
.box{
    
    background              : #0d95ca;
    height                  : 10vw;
    width                   : 10vw;
    text-align: center;
    font-size: clamp(1rem, 9vw, 70rem); 
    font-family: 'Lato', sans-serif !important;
    color : #0d95ca;
    
   }
.box:hover{
   
    color:rgba(248, 248, 248, 0.7);
}
.box-r{
    border-right: 3px solid white;
    border-left: 3px solid white;
}
.box-s{
    border-bottom: 3px solid white;
    border-top: 3px solid white;
}
.footer{
    background-color            : #bdd3b6;
    margin                  : 1rem;
    padding                 : 1rem;
    color                   : black;
    text-align              : center;
    font-style              : italic;
    border-radius           : 10px;
}
.footer:hover{
      background-color        : #400428;
      color                   : white;
}
.container-box{
    margin                  : 2% 25% 0% 25% ;
}
.player1 {
    background-color        : #0d6f26;
    color                   : black;
}
.player2  {
   background-color        : #264e30;
    border-radius           : 0  0  0 10px;
}
.ponto1{
    background-color        : #0d6f26;
       color                : black;
}
.ponto2{
    background-color        : #264e30;
    border-radius           : 0  0  10px 0;
    
}
button{
    width                   : 100%;
    height                  : 50px;
    padding                 : 0;
    border                  : none;
    border-radius           : 0.45rem;
    color                   :#49aa26;
    border              : 2px  #49aa26 solid;
    cursor                  : pointer;
}
button:hover{
    background              : #3dd605;
    color: white;
    opacity : 0.9;
}
.button.cancel{
        color               : #e92929;
        border              : 1px  #e92929 solid;
         border-radius      : 0.25rem;
        height              : 50px;
        display             : flex;
        align-items         : center;
        justify-content     : center;
        

}
.button.cancel:hover{
    background: #e92929;
    color: white;
    opacity : 0.9;
    border              : 2px  #e92929 solid;
}
.modal-overlay {
    width                   : 100%;
    height                  : 100%;
    background-color        : rgba(0, 0, 0, 0.7);
    position                : fixed;
    top                     : 0;
    left                    : 0;
    display                     : flex;
    align-items : center;
    justify-content : center;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
   

}
.modal-overlay.active{
    opacity: 1;
    visibility: visible;
}
.modal {
    background: #F0F2F5;
    padding                     : 2.4rem;
    display:grid;
}
section{
    margin-top: 8%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.button.new{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4vw;
    width : 40%;
    height:40px;
    background:rgba(188, 199, 197, 0.7);
    color:rgb(218, 212, 212);
    border-radius: 4px;
    }

.button.new:hover{
    background: white;
    color:#3dd605;
}

.input.actions {
    margin-top: 1rem;
    
}
.separador{
    margin-top: 4px;
}

.suavez{

display: flex;
align-items: center;
justify-content: center;
color:#eae1e8


}
.modalVencedor{
     width                   : 100%;
    height                  : 100%;
    background-color        : rgba(0, 0, 0, 0.7);
    position                : fixed;
    top                     : 0;
    left :0;
    display                     : flex;
    align-items : center;
    justify-content : center;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
   

}
.modalVencedor.active{
    opacity: 1;
    visibility: visible;
}
